body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}
body, .footnotes, code { font-size: .9em; }
li li { font-size: .95em; }
ul:has(li > input[type="checkbox"]) { list-style: none; padding-left: 1em; }
*, *:before, *:after { box-sizing: inherit; }
a { color: steelblue; }
pre, img { max-width: 100%; }
pre, pre:hover { white-space: pre-wrap; word-break: break-all; }
pre code { display: block; padding: 1em; overflow-x: auto; }
code { font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace; }
:not(pre) > code, code[class], .box > div { background-color: #f8f8f8; }
pre > code:not([class]), pre > .language-plain, .box { background-color: inherit; border: 1px solid #eee; }
pre > .message { border-color: #9eeaf9; }
pre > .warning { background: #fff3cd; border-color: #fff3cd; }
pre > .error { background: #f8d7da; border-color: #f8d7da; }
.fenced-chunk { border-left: 1px solid #666; }
.code-fence {
  opacity: .4;
  border: 1px dashed #666;
  border-left: 2px solid;
  &:hover { opacity: inherit; }
}
.box { margin: 1em 0; }
.box > :first-child > p:first-child, .box > :last-child > p:last-child { padding: 1em; }
.box > :first-child, .box > :first-child > p:first-child { margin-top: 0; }
.box > :last-child, .box > :last-child > p:last-child { margin-bottom: 0; }
.figure > p:has(img) { text-align: center; }
table {
  margin: auto; border-top: 1px solid #666;
  thead th { border-bottom: 1px solid #ddd; }
  th, td { padding: 5px; }
  thead, tfoot, tr:nth-child(even) { background: #eee; }
}
blockquote {
  color: #666;
  margin: 0;
  padding: 1px 1em;
  border-left: .5em solid #eee;
}
hr, .footnotes::before { border: 1px dashed #ddd; }
.frontmatter { text-align: center; }
#TOC .numbered {
  padding-left: 0;
  li { list-style: none; }
  ul { padding-left: 1em; }
}
table, .body h2 { border-bottom: 1px solid #666; }
.body .appendix, .appendix ~ h2 { border-bottom-style: dashed; }
.main-number::after { content: "."; }
.ref-number-fig::after, .ref-number-tab::after { content: ":"; }
.cross-ref-chp::before { content: "Chapter "; }
.cross-ref-sec::before { content: "Section "; }
.cross-ref-fig::before, .ref-number-fig::before { content: "Figure "; }
.cross-ref-tab::before, .ref-number-tab::before { content: "Table "; }
.footnote-ref a {
  &::before { content: "["; }
  &::after { content: "]"; }
}
section.footnotes {
  margin-top: 2em;
  &::before { content: ""; display: block; max-width: 20em; }
}

@media print {
  body { font-size: 12pt; max-width: 100%; }
  tr, img { page-break-inside: avoid; }
}
@media only screen and (min-width: 992px) {
  pre { white-space: pre; }
}
