.nav-path {
  font-size: .8em;
  width: 100%;
  order: -1;
}
.pencil, .save {
  text-decoration: none;
  font-size: 1.5em;
  font-style: normal;
  float: right;
  margin-left: .5em;
}
li .pencil {
  float: none;
}
td .pencil {
  font-size: inherit;
}
span[data-line-number] {
  cursor: pointer;
}
::backdrop {
  cursor: wait;
  opacity: .5;
}
@media print {
  .nav-path {
    display: none;
  }
}
