.nav-path {
  font-size: .8em;
}
.pencil, .save {
  text-decoration: none;
  font-size: 1.5em;
  font-style: normal;
  float: right;
  margin-left: .5em;
}
li .pencil {
  float: none;
}
td .pencil {
  font-size: inherit;
}
.line-numbers .line-numbers-rows {
  pointer-events: initial;
}
.line-numbers-rows>span:before {
  cursor: pointer;
}
.waiting {
  cursor: wait;
  opacity: .5;
}
@media print {
  .nav-path {
    display: none;
  }
}
